# Ambiente virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db
*.log
*.tmp

# Dados brutos: ignora tudo, mas mantém a pasta
data/raw/*
!data/raw/.gitkeep

# Dados processados: ignora tudo, mas mantém a pasta
data/processed/*
!data/processed/.gitkeep

# Dicionários: ignora tudo, mas mantém a pasta
data/dictionaries/*
!data/dictionaries/.gitkeep

# Figuras geradas: ignora tudo, mas mantém a pasta
outputs/figures/*
!outputs/figures/.gitkeep

# Tabelas geradas: ignora tudo, mas mantém a pasta
outputs/tables/*
!outputs/tables/.gitkeep