# Ambiente virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Dados (ignorar conteúdo, manter estrutura)
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/dictionaries/*
!data/dictionaries/.gitkeep

# Outputs
outputs/figures/*
!outputs/figures/.gitkeep

outputs/tables/*
!outputs/tables/.gitkeep